<a href="https://colab.research.google.com/github/AvRob0/Avrob0.github.io/blob/main/RobinsonAveryWeek_4_Assignment_4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the dataset and load it as a pandas dataframe and perform the following:

1. Using pandas to insert a new record into the dataset with the following details:

Fast-Food Chain: "Subway",

Systemwide Sales: $1000 million,

Average Sales per Unit: $400 thousand,

Franchised Stores: 2000,

Company Stores: 500,

2021 Total Units: 2500,

Total Change in Units from 2020: 50

In [48]:
import pandas as pd
from datetime import date
import numpy as np
# created the DataFrame for the new data
new_data = [["Subway", "$1000 million", "$400 thousand", 2000, 500, 2500, 50]]
columns = ["Fast-Food Chain", "Systemwide Sales", "Average Sales per Unit", "Franchised Stores", "Company Stores", "2021 Total Units", "Total Change in Units from 2020"]
df = pd.DataFrame(new_data, columns=columns)
df

,Fast-Food Chain,Systemwide Sales,Average Sales per Unit,Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020
0,Subway,$1000 million,$400 thousand,2000,500,2500,50

In [7]:
# convert the DataFrame to dictionary format
dict_row = df.to_dict('records')[0]
dict_row

{'Fast-Food Chain': 'Subway',
 'Systemwide Sales': '$1000 million',
 'Average Sales per Unit': '$400 thousand',
 'Franchised Stores': 2000,
 'Company Stores': 500,
 '2021 Total Units': 2500,
 'Total Change in Units from 2020': 50}

In [10]:
# get the existing data from the csv file and convert it into pandas DataFrame
existing_record = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')
# Then append the new data to the existing data
existing_record = pd.concat([existing_record, pd.DataFrame([dict_row])], ignore_index=True)
# Write the updated DataFrame to the csv file
existing_record.to_csv('/content/Fast-Food Chains in USA.csv', index=False, encoding='utf-8', header=True)

2. Update the systemwide sales for the fast food chain with the name "McDonald's" to $40000 million.

In [36]:
update_record = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')

In [37]:
# filter rows and update data
mcdonalds = update_record[update_record['Fast-Food Chains'] == 'McDonald’s']
mcdonalds.loc[28, 'U.S. Systemwide Sales (Millions - U.S Dollars)'] = 40000

In [39]:

update_record.to_csv('/content/Fast-Food Chains in USA.csv')

3. Using pandas to calculate the average systemwide sales for each category of fast food chains, grouped by category.

In [ ]:
calculate_average = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')
calculate_average

In [51]:
grouped_df = calculate_average.groupby('Fast-Food Chains')['U.S. Systemwide Sales (Millions - U.S Dollars)']

average_sales = grouped_df.mean()
print(average_sales)

Fast-Food Chains
Arby’s                                     4462.0
Baskin-Robbins                              686.0
Bojangles                                  1485.0
Burger King                               10033.0
Carl’s Jr.                                 1560.0
Checkers/Rally’s                            931.0
Chick-fil-A                               16700.0
Chipotle                                   7547.0
Church’s Chicken                            776.0
Culver’s                                   2489.0
Dairy Queen                                4494.0
Del Taco                                    931.0
Domino's                                   8641.0
Dunkin'                                   10416.0
El Pollo Loco                               973.0
Firehouse Subs                             1044.0
Five Guys                                  2093.0
Freddy’s Frozen Custard & Steakburgers      759.0
Hardee’s                                   2100.0
In-N-Out Burger                            1175.0
Jack in the Box                            4077.0
Jersey Mike’s                              2203.0
Jimmy John’s                               2301.0
KFC                                        5100.0
Krispy Kreme                                996.0
Little Caesars                             4185.0
Marco’s Pizza                               899.0
McAlister’s Deli                            869.0
McDonald’s                                45960.0
Moe’s Southwest Grill                       661.0
Panda Express                              4452.0
Panera Bread                               5650.0
Papa Johns                                 3486.0
Papa Murphy’s                               809.0
Pizza Hut                                  5500.0
Popeyes Louisiana Kitchen                  4775.0
QDOBA                                       835.0
Raising Cane’s                             2377.0
Shake Shack                                 777.0
Sonic Drive-In                             5835.0
Starbucks                                 24300.0
Subway                                     9350.0
Taco Bell                                 12600.0
Tim Hortons                                 687.0
Tropical Smoothie Cafe                      948.0
Wendy's                                   11111.0
Whataburger                                3089.0
White Castle                                615.0
Wingstop                                   2278.0
Zaxby’s                                    2233.0
Name: U.S. Systemwide Sales (Millions - U.S Dollars), dtype: float64

4.Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

In [ ]:
top_ten = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')
top_ten

In [58]:
# Using dataframe top_ten: Using pandas retrieve the top 10 fast food chains with the highest average sales per unit, ordered by average sales per unit in descending order.

top_ten.sort_values(by=['Average Sales per Unit (Thousands - U.S Dollars)'], ascending=False).head(10)

,Unnamed: 0,Fast-Food Chains,U.S. Systemwide Sales (Millions - U.S Dollars),Average Sales per Unit (Thousands - U.S Dollars),Franchised Stores,Company Stores,2021 Total Units,Total Change in Units from 2020,Fast-Food Chain,Systemwide Sales,Average Sales per Unit
6,6,Chick-fil-A,16700.0,6100.0,2650,82,2732,155,NaN,NaN,NaN
37,37,Raising Cane’s,2377.0,4893.0,23,544,567,58,NaN,NaN,NaN
24,24,Krispy Kreme,996.0,4000.0,51,307,358,6,NaN,NaN,NaN
38,38,Shake Shack,777.0,3679.0,25,218,243,38,NaN,NaN,NaN
46,46,Whataburger,3089.0,3640.0,131,742,873,29,NaN,NaN,NaN
28,28,McDonald’s,45960.0,3420.0,12775,663,13438,244,NaN,NaN,NaN
19,19,In-N-Out Burger,1175.0,3200.0,0,370,370,5,NaN,NaN,NaN
16,16,Five Guys,2093.0,3172.0,911,479,1390,8,NaN,NaN,NaN
9,9,Culver’s,2489.0,3099.0,831,6,837,55,NaN,NaN,NaN
31,31,Panera Bread,5650.0,2700.0,1130,950,2080,-25,NaN,NaN,NaN

5. Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.

In [ ]:
retrieve_names = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')
retrieve_names

In [60]:
# prompt: Using dataframe retrieve_names: Using pandas retrieve the names of all fast food chains that have more franchised stores than company stores.

retrieve_names[retrieve_names['Franchised Stores'] > retrieve_names['Company Stores']]['Fast-Food Chains']

0                                     Arby’s
1                             Baskin-Robbins
2                                  Bojangles
3                                Burger King
4                                 Carl’s Jr.
5                           Checkers/Rally’s
6                                Chick-fil-A
8                           Church’s Chicken
9                                   Culver’s
10                               Dairy Queen
11                                  Del Taco
12                                  Domino's
13                                   Dunkin'
14                             El Pollo Loco
15                            Firehouse Subs
16                                 Five Guys
17    Freddy’s Frozen Custard & Steakburgers
18                                  Hardee’s
20                           Jack in the Box
21                             Jersey Mike’s
22                              Jimmy John’s
23                                       KFC
25                            Little Caesars
26                             Marco’s Pizza
27                          McAlister’s Deli
28                                McDonald’s
29                     Moe’s Southwest Grill
31                              Panera Bread
32                                Papa Johns
33                             Papa Murphy’s
34                                 Pizza Hut
35                 Popeyes Louisiana Kitchen
36                                     QDOBA
39                            Sonic Drive-In
41                                    Subway
42                                 Taco Bell
43                               Tim Hortons
44                    Tropical Smoothie Cafe
45                                   Wendy's
48                                  Wingstop
49                                   Zaxby’s
50                                       NaN
Name: Fast-Food Chains, dtype: object

6. Using pandas delete all records from the dataset where the total change in units from 2020 is negative.

In [ ]:
delete_records = pd.read_csv('/content/Fast-Food Chains in USA.csv', encoding='utf-8', engine='python')
delete_records

In [62]:
# Using dataframe delete_records: Using pandas delete all records from the dataset where the total change in units from 2020 is negative.

delete_records = delete_records[delete_records['Total Change in Units from 2020'] > 0]